@import "../../main";

.title {
  padding-bottom: 20px;
  font-weight: bold;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.hint {
  margin-top: 6px;
  color: $grey;
  font-size: 12px;
  font-weight: lighter;
}

input {
  width: 400px;
  height: 28px;
  border: 1px solid $grey;
  border-radius: 3px;
  padding: 3px 6px;
}

::placeholder {
  color: $grey;
  font-weight: lighter;
}

label {
  color: $grey;
  font-size: 12px;
}

textarea {
  width: 400px;
  height: 100px;
  border: 1px solid $grey;
  border-radius: 3px;
  padding: 6px;
}
