.title {
  margin: 20px 0;

  font-size: 24px;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
  padding: 40px;

  & * {
    margin: 0 20px;
  }
}

.descriptionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  border: 2px solid black;
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-weight: bold;
}

.descriptionTitle {
  padding: 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & * {
    padding: 15px;
  }
}