@import '../../main';

.toolbar {
  background: $lightGrey;
  padding: 10px;
  display: flex;
  justify-content: center;

  & * {
    margin: 0 20px;
  }
}

a {
  &.selected {
    &:link, &:visited {
      color: $purple;
      font-weight: bold;
    }
  }

  &.notSelected {
    &:link, &:visited {
      color: $grey;
    }
  }

  text-decoration: none;
}
