@import "../../main";

.button {
  border: none;
  background-color: $yellow;
  border-radius: 3px;
  color: $darkGrey;
  font-size: 20px;
  font-weight: 300;
  padding: 8px 32px;
  cursor: pointer;
  width: 280px;

  &:disabled {
    background-color: $grey;
  }
}