@import '../../main.scss';

.analyzedSitesTable {
  margin: 40px 0;

  table {
    tr {
      th {
        &:first-child {
          text-align: left;
        }
      }

      td {
        &:first-child {
          text-align: left;
          width: 150px;
        }

        &:nth-child(2) {
          width: 150px;
        }
      }
    }
  }
}

.queryInfoTable {
  margin: 40px 0;

  table {
    tr {
      th {
        &:first-child {
          text-align: left;
        }
      }

      td {
        &:first-child {
          text-align: left;
          width: 150px;

          &:after {
            content: ':';
          }
        }

        &:nth-child(2) {
          width: 150px;
        }
      }
    }
  }
}

.detailsTable {
  margin: 40px 0;

  table {
    tr {
      td, th {
        &:nth-child(1) {
          min-width: 150px;
          max-width: 150px;
        }

        &:nth-child(2) {
          min-width: 250px;
          max-width: 250px;
        }

        &:nth-child(3) {
          min-width: 200px;
          max-width: 200px;
        }
      }

      td:nth-child(1) {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}