$green: #84ca36;
$yellow: #E2DE17;
$darkGrey: #4A4A4A;
$lightGrey: #f2f2f2;
$grey: #979797;
$purple: #4F61F6;
$blue: #4879F8;
$darkRed: darkred;

$OpenSans: 'Open Sans', sans-serif;

$padding: 10px;

body {
  margin: 0;
  padding: 0;

  font-family: $OpenSans;
}

table {
  border-collapse: collapse;

  tr {
    th {
      border-bottom: $grey solid 1px;
      font-size: 14px;
      font-weight: normal;
      padding: $padding 0;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      padding: $padding 0;
    }
  }
}